version: '2.1'
services:

  zookeeper:
    image: biggis/zookeeper:3.4.6
    hostname: zookeeper
    ports:
      - "2181:2181"
    environment:
      USER_ID: ${USER_ID-1000}
      USER_NAME: zookeeper
    # volumes:
    #   - zookeeper-data:/tmp/zookeeper/data

# volumes:
  # zookeeper-data:
